*::-moz-selection {
  background: #56aae0;
  color: rgba(255, 255, 255, 0.85);
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
table,
td,
th {
  vertical-align: middle;
}
/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
/* Remove annoying border on linked images. */
a img {
  border: none;
}
html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
}
.nav li {
  float: right;
  margin-right: 4%;
  font-weight: bold;
  line-height: 50px;
}
.nav li:last-child {
  float: left;
  margin-left: 4%;
}
a {
  color: black;
  text-decoration: none;
}
.burger-button {
  width: 10%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  border-radius: 0;
  vertical-align: middle;
}
.burger-button > svg {
  width: 5%;
  height: 100%;
}
.loadcheck {
  position: fixed;
  height: 50px;
  width: 10%;
  top: 0;
  left: 0;
}
p {
  font-size: 2em;
}
span {
  font-size: 1rem;
}
.review {
  background: #353535;
  position: fixed;
  top: 50px;
  height: calc(100vh - 50px);
  padding: 7px;
  border-radius: 5px;
  width: 100vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  animation-name: fadein;
  animation-duration: 2s;
}
.review p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container {
  display: grid;
}
.containerCategory {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 60%;
}
.containerCategory > li {
  font-size: 40px;
  color: white;
  flex: 1;
  list-style-type: none;
  background-color: #2d2d2d;
  margin-top: 2px;
  left: 0;
}
.containerSub {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 20%;
}
.containerSub > li {
  list-style-type: none;
  flex: 1;
}
.modal {
  display: none;
}
.modal::before {
  display: block;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
}
.modal__close:before {
  content: "X";
  color: white;
  position: absolute;
  top: 2px;
  right: 2px;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
p {
  padding: 20px;
}
#check:checked ~ .modal {
  display: block;
}
body {
  background-color: #F4F4F4;
}
