@import "mixin_archive.less";

.checkbox-button() {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
    padding: 0;
    border-radius: 0;
    vertical-align: middle;
}

#burgerButton {
  .print() {
    .burger-button {
      width: 10%;
      height: 50px;
      position: fixed;
      top: 0;
      left: 0;
      .checkbox-button();

      > svg {
        width: 5%;
        height: 100%;
      }
    }

    .loadcheck {
        position: fixed;
        height: 50px;
        width: 10%;
        top: 0;
        left: 0;
    }

    p {
      font-size: 2em;
    }

    span {
      font-size: 1rem;
    }

    .review {
      background: #353535;
      position: fixed;
      top: 50px;
      height: calc(100vh - 50px);
      padding: 7px;
      border-radius: 5px;
      width: 100vw;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      animation-name: fadein;
      animation-duration: 2s;
    }

    .review p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .container {
        display: grid;
    }

    .containerCategory {
      display: flex;
      flex-direction: column;
      width: 25%;
      height: 60%;

      > li {
        font-size: 40px;
        color: white;
        flex: 1;
        list-style-type: none;
        background-color: #2d2d2d;
        margin-top: 2px;
        left: 0;
      }
    }

    .containerSub {
        display: flex;
        flex-direction: column;
        width: 75%;
        height: 20%;

        > li {
            list-style-type: none;
            flex: 1;
        }
    }

    .modal {
        display: none;
    }

    .modal::before {
      display: block;
      content: "";
      position: fixed;
      top: 0;
      left: 0;
    }

    .modal__close:before {
      content: "X";
      color: white;
      position: absolute;
      top: 2px;
      right: 2px;
    }

    @keyframes fadein {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    p {
      padding: 20px;
    }

    #check:checked {
        ~ .modal {
            display: block;
        }
    }
  }
}
