#printNavbar {
  .get() {
    html,
    body {
      font-family: sans-serif;
      margin: 0;
      padding: 0;
    }

    .nav {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 50px;
      background-color: #FFFFFF;
    }

    .nav li {
      float: right;
      margin-right: 4%;
      font-weight: bold;
      line-height: 50px;
    }

    .nav li:last-child {
      float: left;
      margin-left: 4%;
    }

    a {
      color: black;
      text-decoration: none;
    }
  }
}
